img {
  width: 300px;
}

p {
  font-family: Roboto, arial;
  margin-top: 10px;
}

.video-block {
  max-width: 300px;
  display: inline-block;
}
#video-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
#video-stats {
  display: inline-block;
  font-weight: normal;
  margin-top: 0px;
  font-size: 14px;
  color: rbg grey;
  margin-bottom: 5px;
}
#creator {
  font-size: 14px;
  color: rbg grey;
  margin-bottom: 5px;
}
#pp {
  vertical-align: top;
    width:50px;
    display: inline-block;
}

#info {
  width: 240px;
  display: inline-block;

}

#profile-pic{
  width: 100%;
  width: 40px;
}
#youtubeBox{
  margin-top: 10px;
}